{
  "plugins": [
    "transform-async-to-generator",
    "transform-function-bind",
  ],
  "presets": ["es2015"],
  "env": {
    "production": {
      "plugins": [
        "transform-regenerator",
        ["transform-runtime", {"polyfill": false, "regenerator": true}]
      ]
    },
    "test": {
      "plugins": [
        ["istanbul", {"exclude": ["test/*.js", "**/*_spec.js"]}]
      ]
    }
  }
}
